body {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer, header{
    background-image: linear-gradient(to top, #454553, #555667, #65677c, #767992, #878ba8);
}

.site-title {
    color:rgb(201, 245, 245);
    font-size: 40px;
    font-family:Arial;
}