body {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer, header {
    background-image: linear-gradient(to bottom, #555667, #65677c, #767992, #878ba8);
}

.site-title {
    color:rgb(201, 245, 245);
    font-size: 40px;
    font-family:Arial;
}

#image {
    box-shadow: 0 2px 1px black;
}

a:link, a:visited {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:hover {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-style: outset;
}