body {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer, header {
    background-image: linear-gradient(to right bottom, #3c437e, #445688, #526990, #657b97, #7b8c9d);
    color:white;
}

.site-title {
    color:#f2ffac;
    font-size: 40px;
    }

#image {
    box-shadow: 0 0 2px 1px black;
}

a:link, a:visited {
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #7c9200;
    border-style: solid;
    border-width: 2px 3px 3px 2px;
    border-color:black;
}

a:hover, a:active {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-style: outset;
    
}
ul {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: #f2ffac;
}