body {
    background-image: linear-gradient(to bottom, #405f83, #4e7d98, #669aab, #85b7bd, #aad4cf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: #fff;
    font-size: 50px;
}