/* sets box-sizing for all elements*/
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*contains elements and centers them*/
.wrapper {
    margin: 0 auto;
    background-color: #aad4cf;
    width: 1023px;
    max-height: max-content;
}
  body {
    
    /*adds bckgrnd img to get gradient*/
    background-image: linear-gradient(to top, #669aab, #85b7bd, #aad4cf);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*adds line-height for readability*/
    line-height: 1.5;
}

/*affects the h1 design*/
h1 {
    position: absolute;
    color: #fff;
    font-size: 3.5rem;
    width: 100%;
    top: 50%;
    text-align: center;
    
}

/* place main container in center with no padding*/
.container {
    position: relative;
    padding: 0;
    margin: 0 auto;
}
   

/*display nav inline- affects averall design of nav*/
#horizontal_menu li {
        display:inline-block;
        margin: 0 100px 0;
    
}

nav li a {
    color:black;
    border: #ececec;
}

h2 {
    font-size: 2rem;
    padding-left: 20px;
}

/*float to align image to text*/
.float img {
    width:250px;
    padding: 0 20px 5px 0px;
    float: left;
}

/*clear to stop alignment to text*/
.clearfix::after {
    content:"";
    display: block;
    clear: both;

} 
    

h3 {
    font-size: 1.5rem;
    padding-left: 20px;
}

ul {
    margin-left: 35px;
}
/* squares list buttons*/
li {
    list-style-type: square;
    padding-left: 20px;
    

}

/* adds space between parragraphs */
p {
    margin-bottom: 1rem;
    padding: 0 20px 0 20px;
    text-align: justify;
   
}

/* affects form design, adds solid border*/
form {
    margin: 20px;
    padding: 20px 30px 20px 30px;
    border: #636363;
    border-style: solid;
    border-width: medium;
    
}
input[type="text"] { 
    width: 100%;
}

input[ type="email"] {
    width: 100%;


}
textarea {
    width: 100%;
    height: 100px;
    resize: vertical;

}
/* styles the send button*/
button {
    
    background-color:#ececec;
    border: rgb(48, 48, 48);
    color:black;
    padding: 10px 25px;
    text-decoration: none;
    margin: 30px 2px 2px;
    cursor: pointer;
}

footer {
    text-align: right;
    padding-right: 20px;
}

