* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-family: 'Open Sans', sans-serif;

}
body {
   
    max-width: 600px;

}

header {
    max-width: 600px;
    margin: 0 auto;

}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
}

nav {
    background-color: #222;
    
}

nav ul {
    list-style-type: none;
    text-align: center;
     
}
.logo img {
    position:absolute;
    margin-top: 5px;
    display: block;
   
}

nav ul li a {
    color: #c78c06;
    padding: 20px;
    text-decoration: none;
    display: grid;
    

}

nav ul li a.active {
    background-color: #c78c06;
    color: #222;
    height: 200px;
    align-self: center;
    
}

nav li a:hover:not(.active) {
    background-color: #c78c06;
    color: white;
}

.Search-bar {
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px;;
    
}
.search {
    width: 100%;
    border: 2px solid #c78c06;
    height: 40px;
    outline: none;
    padding: 10px;
}
.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #c78c06;
    background: #222;
    text-align: center;
    color: #c78c06;
    cursor: pointer;
    font-size: 20px;
  }

.banner {
    max-width: 100%;
}

h1 {
    font-size: 20px;
}

.about {
    background-color: #ffe6ac;
    max-width: 100%;
    margin: 0 auto;
}

.services {
    display: grid;

}
.digital {
    background-color: #ffe6ac;

}


.boats {
    max-width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

.map iframe {
    border: 10px;
    height: 400px;
    width: 100%;
}

footer {
    max-width: 600px;
    background-color: #222;
    color: #c78c06;
    padding: 10px;
    margin: 0 auto;
}