
/* adds border-box to make responsive layout manageable by including padding for the entire length and width of webpage*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
   max-width: 600px;
   padding: 0;
}

/* Adds a wrapper class to control the entire content( section and divs) of the webpage for a responsive arrangement*/
.wrapper, .topnav {
    max-width: 600px;
    margin: 0 auto;
    max-height: max-content;
    overflow: hidden;
}

nav {
    background-color: #222;    
}

nav ul {
    list-style-type: none;
    text-align: center;     
}

/* adds an id of logo to discriminate this specific image(star logo) without affecting the other images with the purpose of adjusting its size*/
#logo {
    position:absolute;
    margin-top: 5px;
    display: block;
    margin-left: 50px;   
}

/* adds layout of grid to display top nav in a row for easy management avoiding using float and clear*/
nav ul li a {
    color: #c78c06;
    padding: 20px;
    text-decoration: none;
    display: grid;
}

/* separates home nav link to affect the style because of its unique design*/
nav ul li a.active {
    background-color: #c78c06;
    color: #222;
    height: 200px;
    align-self: center;
    padding-top: 150px;    
}

/* to affect just the design when the cursor is on top of each link for the navigation section*/
nav li a:hover {
    background-color: #c78c06;
    color: white;
}

.Search-bar {
    max-width: 100%;
    position: relative;
    display: flex;
    padding: 10px;    
}

.search {
    border: 2px solid #c78c06;
    height: 40px;
    outline: none;
    padding: 10px;    
}

/* add a class of searchbutton to style the icon by changing color, size, to match the overall color palette of the webpage and match the height of the search bar*/
.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #c78c06;
    background: #222;
    color: #c78c06;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
}

/* this class is added to place a black background overlayed affecting the opacitiy and added a z-index to place it on top of image and behind the content*/
  .color-overlay {
    width: 100%;
    height: 80%;
    background-color: #222;
    opacity: 0.7;
    position: absolute;
    margin: 0;
    z-index: -1;
}

.welcome {
    background-image: url("../images/main-banner.jpg");
    max-width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -2;    
}

img:not(#logo) {
    width: 100%;
    height: auto;
  }

/* adds id connect to separate and modify only the design of the button for the welcome section*/
#connect {
    background-color: #c78c06;
    color: #222;
    font-weight: 600;
    font-size: 22px;
}

h1 {
    color: white;
    font-size: 50px;
    z-index: 1;
    line-height: 1.5;    
}

.welcome p {
    color: white;    
}

h2 {
    font-size: 40px;
    font-weight:bold;
    padding-left: 20px;
}

p, h3, h4 {
    padding: 0 10px 20px 10px;
    line-height: 1.5;
}

/* affects the style of all the buttons of each section for the entire page except the ones with id*/
button[type="button"] {
    background-color: #222;
  border: none;
  color: white;
  padding: 35px 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.about {
    background-color: #ffe6ac;
    overflow: hidden;
    padding-top: 10px;
    max-width: 100%;
}

.services {
    position: relative;     
    width: 100%;
}

.digital, .marketing, .video, .web, .print, .bob, .john {
    background-color: #ffe6ac;
    width: 100%;
    padding-bottom: 10px;
    
}

.vision {
    background-image: url("../images/vision.jpg");
    max-width: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    padding: 2px;
    align-items: center;
    position: relative;
    margin: auto;    
}

/* adds id connect to separate and modify only the design of the button for the vision section*/
#learnmore {
    background-color: #222;
    opacity: 0.8;
    border: 1px solid #c78c06;
}

hr {
    border: 1px solid #c78c06;
    width: 95%;
}
.contact {
    margin: 10px;
}

/* affects the attributes of the input tags and textarea in the form*/
input[type=text],input[type=email],textarea {
    width: 99%;
    padding: 5px;
    margin: 5px 0 5px 1px;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 3px;
}

/*sets a min-height for user experience and resize possible only in x plane*/   
textarea {
    min-height: 100px;
    resize: vertical;
    width: 99%;
}

input[type=submit] {
    background-color: #222;
    color: #c78c06;
    padding: 3px 6px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 22px;
}

table {
    border: 1px solid #222;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #222;
    text-align: left;
    padding: 20px;
}

th {
    background-color: #ffe6ac;
    text-align: center;
}

.map iframe {
    border: 5px;
    height: 400px;
    width: 100%;
}

footer {
    max-width: 600px;
    background-color: #222;
    color: #c78c06;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 14px;
}

footer a {
    color: #c78c06;
}

@media screen and (min-width: 760px){
    /* Styles applied for minimum width of 760px and over */
    /*set max-width for entire body to constrict content and background*/
    body {
        background-color: #fff;
        max-width: 1200px;
        padding: 0;
    }

    header {
        background-color: #222;
    }
    /* changes style of navigation to place it in a row */
    .topnav, nav {
        max-width: 100%;
        display: flex;
        height: 100px;
        justify-content: space-around; 
        
    } 
    .wrapper {
        max-width: 1200px;
        padding: 0 90px 0 90px;

    }
    #logo {
        position:relative;
        display: flex;
        flex: 1;
        margin: 10px 100px 10px 0px;
        padding: 0 50px 0 0;
        height: 80px;
    }

    nav ul {
        display: flex;
        flex: 2;
        height: 100%;
        margin-bottom: 10px;
       
    }
    nav ul li a {
        display: flex;
        margin-top: 10px;
        padding-top: 30px;
        justify-content: space-between;

    }
    nav ul li a.active { 
        display: flex;
        justify-content: space-around;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
       
    }
    .Search-bar {
        margin-left: auto;
        flex: 1;
        height: 100%;
        padding: 20px;
        
    }
    h1 {
        font-size: 75px;
        padding-top: 60px;
    }
    .welcome {
        background-image: url("../images/main-banner.jpg");
        width: 1200px;
        height: 600px;
            
    }
    
    .color-overlay {
        width: 1000px;
        height: 80%;
        margin-left: 80px;
    }

    #connect {
       margin-bottom: 30px;
    }
    .about {
        width: 100%;
        margin: auto;
        padding: 15px 90px 15px 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about h2, p {
        float: right;
        
    }

    .services { 
        padding: 0 90px 0 90px;      
        width: 100%;
        display: grid;
        grid-gap: 5px;
        height: fit-content;
        grid-template-columns: repeat( 6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "one one one two two two"
        "three three four four five five"
        
    }
    .services h2 {
        position: absolute;
        font-size: 45px;
        padding: 5px 0 5px 50px;
        margin-left: 50px;
    }
    .services .digital {
        margin-top: 80px;
        grid-area: one;
        
    }

    .services .marketing {
        margin-top: 80px;
        margin-left: 15px;
        grid-area: two;
    }

    .services .video {
        height: 620px;
        margin-top: 15px;
        margin-right: 7px;
        grid-area: three;        
    }

    .services .web {
        height: 620px;
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 15px;
        grid-area: four;        
    }

    .services .print {
        height: 620px;
        margin-top: 15px;
        margin-left: 15px;
        grid-area: five;        
    }
    

    .john {
        display: flex;

    }
    .bob {
        display: flex;
        flex-direction: row-reverse;

    }
    .contact {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: 2fr, 1fr;
        grid-template-areas:
        ""

    }

    .contact .form {
        grid-area: form;
    }
    .contact .map {
        grid-area: map;
    }

    .contact .table {
        grid-area: table;
    }

    footer {
        background-color: #222;
        max-width: 1200px;
        padding: 0;


    }
    

    
   
}