* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-family: 'Open Sans', sans-serif;

}
body {
   
    max-width: 600px;

}

header {
    max-width: 600px;
    margin: 0 auto;

}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
}

nav {
    background-color: #222;
    
}

nav ul {
    list-style-type: none;
    text-align: center;
     
}

nav ul li a {
    display: block;
    color: #c78c06;
    padding: 20px;
    text-decoration: none;

}

nav ul li a.active {
    background-color: #c78c06;
    color: #222;
    
}

nav li a:hover:not(.active) {
    background-color: #c78c06;
    color: white;
}

.search-bar {
   
    padding: 10px;
    width: 100%;
}

.banner {
    max-width: 100%;
}

h1 {
    font-size: 20px;
}

.about {
    background-color: #ffe6ac;
    max-width: 100%;
    margin: 0 auto;
}

.services {
    display: grid;

}
.digital {
    background-color: #ffe6ac;

}


.boats {
    max-width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

.map iframe {
    border: 10px;
    height: 400px;
    width: 100%;
}

footer {
    max-width: 600px;
    background-color: #222;
    color: #c78c06;
    padding: 10px;
    margin: 0 auto;
}